.AuthPage {
  display: flex;
  flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lilacTransparent);
    border-radius: 2vmin;
    padding: 3rem;
    font-family: 'Share Tech Mono', 'Roboto';
  }

  h1 {
    padding: 1rem;
    margin: 1rem;
    color: var(--white);
    background-color: var(--royalPurple);
    border: solid 2px var(--fairyTale);
    border-radius: 4vmin;
    font-family: 'Share Tech Mono', 'Roboto';
  }

  .logoButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    h3 {
      color: var(--white);
      border: solid 2px var(--fairyTale);
      margin-top: 4vmin;
      text-align: center;
      color: var(--lilac);
      cursor: pointer;
      padding: 1rem;
      background-color: var(--gunmetal);
      border-radius: 5vmin;
      font-size: 20pt;
      box-shadow: 1px 3px 1px var(--gunmetal);
      font-family: 'Share Tech Mono', 'Roboto';
    }

    h3:hover {
      cursor: grab;
      box-shadow: none;
    }
  }
