.NewOrderPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2vmin;
  }

  .NewOrderPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
  }

  .container {
    display: flex;
  }
