.newsletter {
    background-color: var(--fairyTale);
    border: solid 2px var(--white);
    border-radius: 4vmin;
    margin: 1rem;
}

.subscribe {
    padding: 1rem;
    border-radius: 5min;
    margin: 1rem;
    border: solid 2px var(--gunmetal);
    box-shadow: 2px 3px 1px var(--gunmetal);
    font-size: 16pt;
}
