.OrderList {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    background-color: var(--royalPurpleTransparent);
    border: .1vmin solid var(--fairyTale);
    border-radius: 2vmin;
    margin: 3vmin 0;
    margin-right: 1rem;
    padding: 3vmin;
    overflow-y: scroll;
    font-family: 'Share Tech Mono', 'Roboto';
    }

    .OrderList .noOrders {
    color: var(--white);
    background-color: var(--fairyTaleTransparent);
    border-radius: 5vmin;
    font-weight: bold;
    padding: 2rem;
    font-size: 18pt;
    position: absolute;
    top: calc(50vh);
    }
