.AboutUsPage {
    font-family: 'Share Tech Mono', 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   /* background-color: var(--fairyTale);*/
    border-radius: 2vmin;
}

.column {
    display: flex;
    padding: 5rem;
    flex-direction: column;
    border: solid 5pt var(--lilac);
    background-color: var(--gunmetalTransparent);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5vmin;
}

.image {
    height: 450px;
    width: 450px;
    padding: 1rem;

  }

.image>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.subtitle {
    background-color: var(--lilac);
    color: var(--gunmetal);
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
    border-radius: 2vmin;
    text-align: center;
    align-self: center;
    justify-content: center;
}

.stories {
    display: flex;
    flex-direction: column;
    /* background-color: var(--royalPurple); */
    /* border: solid 2px var(--white); */
    font-size: 20pt;
    color: var(--fairyTale);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.story {
    background-color: var(--fairyTale);
    width: 60%;
    justify-content: center;
    align-items: center;
    color: var(--gunmetal);
    padding: 1rem;
    margin: 1rem;
    border: solid 2px var(--lilac);
    box-shadow: 2pt 2pt 1pt var(--);
    border-radius: 2vmin;
    font-weight: bold;
}

.titles {
    padding: 1rem;
    margin: 1rem;
    border-radius: 5vmin;
    background-color: var(--fairyTale);
    color: var(--gunmetal);
    box-shadow: 3pt 3pt 1pt var(--white);
}

.subHeader {
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.creed {
    background-color: var(--gunmetal);
    color: var(--white);
    border: solid 3px var(--white);
    border-radius: 2vmin;
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
}
