.OrderListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--gunmetal);
    background-color: var(--fairyTale);
    border: .2vmin solid var(--white);
    border-radius: 1vmin;
    font-size: 2vmin;
    cursor: pointer;
    box-shadow: 1px 1px 3px var(--fairyTale);
    }

    .OrderListItem > div> div:first-child {
    margin-bottom: .5vmin;
    }

    .OrderListItem.selected {
    border-color: var(--fairyTale);
    border-width: .2vmin;
    cursor: default;
    }

    .OrderListItem:not(.selected):hover {
    border-color: var(--fairyTale);
    border-width: .2vmin;
    }
