.OrderDetail {
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    padding: 3vmin;
    font-size: 2vmin;
    color: var(--royalPurple);
    background-color: var(--lilac);
    overflow-x: hidden;
  }

  .totalBox {
    border-radius: 5vmin;
    display: flex;
    background-color: var(--royalPurple);
    margin: .5rem;
    width: fit-content;
    border: solid 2px var(--white);


    span {
      padding: .5rem;
      margin: .5rem;
    }
  }

  .orderSpan {
    margin: .25rem;
    padding: .5rem;
    background-color: var(--spaceCadet);
    color: var(--fairyTale);
    border-radius: 2vmin;
    border: solid 1px var(--white);
  }

  .OrderDetail .sectionHeading {
    width: 100%
  }

  .OrderDetail .lineItemContainer {
    margin-top: 3vmin;
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
  }

  .OrderDetail .total {
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 18.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--royalPurple);
    border-top: .1vmin solid var(--fairyTale);
    font-family: 'Share Tech Mono', 'Roboto';
  }

  .OrderDetail .total span {
    border-radius: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--gunmetal);
  }

  .OrderDetail .total span.right {
    border-radius: 5vmin;
    display: flex;
    justify-content: flex-end;
  }

  .totalWords {
    border-radius: 5vmin;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    color: var(--fairyTale);
    background-color: var(--royalPurple);
    border: solid 2px var(--white);
    text-align: right;

  }

  .OrderDetail .hungry {
    position: absolute;
    width: fit-content;
    top: 50vh;
    font-size: 2vmin;
    color: var(--gunmetal);
    font-weight: bold;
    font-size: 18pt;
    font-family: 'Share Tech Mono', 'Roboto';
    background-color: var(--white);
    border: solid 2px var(--fairyTale);
    border-radius: 5vmin;
    box-shadow: 2px 3px 1px var(--gunmetal);
    text-align: center;
    margin-right: 1rem;
    padding: .5rem;
  }
