.MenuListItem {
    width: 100%;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--fairyTale);
    background-color: var(--gunmetal);
    border: .1vmin solid var(--lilac);
    border-radius: 2vmin;
    font-size: 2vmin;
    font-family: 'Share Tech Mono', 'Roboto';
    box-shadow: 1px 3px 5px var(--white);

  }

    .image {
    margin: 0 auto;
    height: 10vw;
    width: 10vw;
  }

  .image>img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
  }

  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }

  .MenuListItem .buy span {
    margin-bottom: .5rem;
    font-size: 1.7vw;
    text-align: center;
    color: var(--white);
  }

  .MenuListItem .name {
    padding: .25rem;
    font-size: 2vw;
    text-align: center;
    color: var(--white);
  }
