.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--fairyTale);
    background-color: var(--gunmetal);
    border: .1vmin solid var(--lilac);
    border-radius: 1vmin;
    font-size: 4vmin;
    font-family: 'Share Tech Mono', 'Roboto';
    box-shadow: 1px 3px 5px var(--white);

  }

  // must turn emoji into image
  .MenuListItem .emoji {
    height: 8vw;
    width: 8vw;
    font-size: 4vw;
    background-color: var(--lilac);
    border: .1vmin solid var(--royalPurple);
    border-radius: 1vmin;
  }

  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }

  .MenuListItem .buy span {
    margin-bottom: .5rem;
    font-size: 1.7vw;
    text-align: center;
    color: var(--fairyTale);
  }

  .MenuListItem .name {
    padding: .25rem;
    font-size: 2vw;
    text-align: center;
    color: var(--fairyTale);
  }
