

.description {
    font-size: 16pt;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    border: solid 1px var(--white);
    background-color: var(--gunmetal);
    color: var(--white);
    font-weight: bold;
    border-radius: 2vmin;
}
