.searchData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Share Tech Mono', 'Roboto';
}

label {
    background-color: var(--white);
    padding: 1rem;
    margin: .5rem;
    color: var(--gunmetal);
    border: solid 2px var(--gunmetal);
    font-size: 20pt;
    box-shadow: 1px 5px 3px var(--gunmetal);
    border-radius: 5vmin;
}



.search {
    font-size: 14pt;
    border-radius: 3vmin;
    background-color: var(--lilac);
    color: var(--gunmetal);
    border: solid 3px var(--gunmetal);
    padding: .5rem;
    margin: .5rem;
    font-weight: bold;
    box-shadow: 1px 2px 1px var(--darkness);
}
