.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5rem;
    border-radius: 5vmin;
    button:hover {
        color: var(--white);
    }
}
.NavButton {
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    background-color: var(--fairyTale);
    border-radius: 2vmin;
    color: var(--gunmetal);
    font-size: 24pt;
    font-weight: bold;
    height: 1vmin;
    box-shadow: 6px 4px 6px var(--gunmetalTransparent);
}

.navButton:hover {
    box-shadow: none;
    cursor: pointer;
    color: var(--white);
}


.portfolioLink {
    text-decoration: none;
    background: #1b476f;
    padding: .5rem;
    margin: .5rem;
    border-radius: 2vmin;
    text-align: center;
    height: fit-content;
    color: white;
    border: 1px solid white;
}
