.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5rem;
    border-radius: 5vmin;
}
.NavButton {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    background-color: var(--fairyTale);
    border-radius: 2vmin;
    color: var(--gunmetal);
    font-size: 24pt;
    font-weight: bold;
    height: 1vmin;
}

.navButton:hover {
    box-shadow: none;
    cursor: pointer;
}
