.CategoryList {
    color: var(--spaceCadet);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    }

    .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    }

    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--lilac);
    color: var(--gunmetal);
    }

    .CategoryList li.active {
    color: var(--royalPurple);
    background-color: var(--fairyTale);
    border: .1vmin solid var(--spaceCadet);
    }
