:root {
  --white: ghostwhite;
  --gunmetal: rgb(1, 42, 54);
  --gunmetalTransparent: rgba(1, 42, 54, .5);
  --spaceCadet: rgb(41, 39, 76);
  --spaceCadetTransparent: rgba(41, 39, 76, .5);
  --royalPurple: rgb(126, 82, 160);
  --royalPurpleTransparent: rgba(126, 82, 160, .5);
  --lilac: rgb(210, 149, 191);
  --lilacTransparant: rgba(210, 149, 191, .5);
  --fairyTale: rgb(230, 188, 205);
  --fairyTaleTransparent: rgba(230, 188, 205, .5);
  --darkness: black;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  /* background-color: var(--gunmetal); */
  font-size: 12pt;

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--spaceCadet);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Share Tech Mono',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--fairyTale);
  color: var(--text-dark);
  border: .1vmin solid var(--lilac);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

p.error-message {
  color: var(--gunmetal);
  text-align: center;
}

input {
  background-image: none !important; /* prevent lastpass */
}

input:focus {
  border-color: var(--lilac);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: rgba(1, 42, 54, .2);
  border-radius: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
  background-color: var(--royalPurple);
  border: solid 3px var(--fairyTale);
  color: var(--spaceCadet);
  font-size: 15pt;
  font-weight: bold;
  border-radius: 4vmin;
  box-shadow: 1px 2px 2px var(--lilac);
  font-family: 'Share Tech Mono', 'Roboto';
}

button.btn-sm:hover {
  cursor: grab;
  box-shadow: none;
}

button.btn-xs {
  font-size: 2vmin;
  font-weight: bold;
  padding: .4vmin .5vmin;
  background-color: var(--lilac);
  color: var(--gunmetal);
  border: solid 1px var(--white);
  border-radius: 2vmin;
}

button.btn-xs:hover {
  cursor: grab;
}
