.LineItem {
    width: 100%;
    display: grid;
    grid-template-columns: 3vw 15.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--fairyTale);
    background-color: rgba(126, 82, 160, .75);
    border-top: .1vmin solid var(--spaceCadet);
    font-size: 1.5vw;
    border: solid 1px var(--gunmetal);
    border-radius: 5%;
    margin: .5rem;
    font-family: 'Share Tech Mono', 'Roboto';
    }

    .LineItem:last-child {
    border-bottom: .1vmin solid var(--spaceCadet);
    }

    .LineItem .qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
    }

    .LineItem .extPrice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1vw;
    }

    .LineItem button {
    margin: 0;
    }
